.signup{
    /* width: 393px; */
    /* height: 100vh; */
    height: 100vh;
    flex-shrink: 0;
    background-image: 
    linear-gradient(0deg, #163910 0%, rgba(22, 57, 16, 0.70) 100%), 
    url('../../assets/images/hand_laptop.png');
         
    background-color: lightgray;
    
    background-position: -90.652px 0px;
    
    background-size: 130.001% 100%;
    
    background-repeat: no-repeat;
         
}