.login{
    height: 100vh;
    flex-shrink: 0;
    background-image: 
    linear-gradient(0deg, #163910 0%, rgba(22, 57, 16, 0.70) 100%), 
    url('../../assets/images/hand_laptop.png');
    background-color: lightgray;
    background-position: -90.652px 0px;
    background-size: 130.001% 100%;
    background-repeat: no-repeat;
    padding-top: 112px;
    padding-bottom: 10px;
}

.welcome_back{
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 12px;
}

.login_continue{
    color: #FFF;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 11px;
}

.login_form_wrapper{
    width: 80%;
    margin:0 auto;
}

.login_input{
    display: flex;
    /* width: 353px; */
    width: 100%;
    height: 49px;
    padding: 13px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 2px solid #FFF;
    background-color: transparent;
    margin-bottom: 13px;
}

.login_input::placeholder{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF73;
}

.forgot_password{
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;    
    color: #FFFFFF;

}

.login_text{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.login_social_container{
    position: relative;
    display: inline-block;
}

.login_social{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    color: #fff;
 
}